@import "./modules/variables/variables.css";
@import "./Componentes/header.css";
@import "./Componentes/nav.css";
@import "./Layout/container.css";
@import "./Layout/flexbox.css";
@import "./Componentes/list.css";
@import "./Componentes/section.css";
@import "./content/img.css";
@import "./content/link.css";
@import "./content/title.css";
@import "./Componentes/hero.css";


.body {
    margin: 0;
    /*Para quitar el estilo por defecto*/
    /*Para que las letras no se peguen al borde de la pantalla*/
    background-color: var(--background-primary-color);
    color: var(--primary-text-color);
    /*Para cambiar el color de las letras*/
    font-family: var(--primary-font-family);
}

