:root {
    --primary-main-color: #006341;
    --primary-background-color: white;
    --primary-text-color: black;
    --secondary-text-color: #006341; 
    --white-color: white;
    --primary-shadow-color: rgba(0, 0, 0, 0.5);
    --primary-spacing: 1.5rem;
    --primary-max-width: 512px;
    --primary-border-radius: 1rem;
    --primary-font-family: monospace;

}

@media (min-width: 768px) {
    :root{
        --primary-max-width: 1024px;
        --primary-spacing: 2rem;
    }
}