/*El último estilo es el que se aplica en caso de conflicto*/
/*root se crea todas las variables para todos los componentes de a web en general*/
/*dentro del root se declara variables*/

:root {
    scroll-behavior: smooth;
    /*para que suavice la transición en las pestañas de navegación*/
    --main-primary-color: #2ca5ce;
    --background-primary-color: #16181d;
    --secondary-background-color: #2b303b;
    --primary-text-color: white;
    --primary-font-family: 'Inconsolata', monospace;
    --light-primary-shadow-color:rgb(119, 165, 238);
    --dark-primary-shadow-color:rgba(255, 255, 255, 0.5);
    --primary-spacing:1.5rem;
    /*es para celulares*/
    --primary-max-width:512px;
}

@media (min-width: 768px) {
    :root {
        --primary-spacing: 2rem;
        --primary-max-width:1024px;
    }
}